<div class="center jumbotron">
<<<<<<< HEAD
  <h1>Welcome to YAPSA</h1>

  <h2>
    This is the home page for
    <%= link_to "Yet Another Photo Sharing", root_path%>
=======
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for
    <a href="yapsa.herokuapp.com">Yet Another Photo Sharing </a>
>>>>>>> 46c3798b76ba84da3be1934ecf4ea219405699f3
    application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<div>
  
  <p>Power by </p>
<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
<<<<<<< HEAD
            
</div>
=======
</div>
>>>>>>> 46c3798b76ba84da3be1934ecf4ea219405699f3
