<div class="center ">
  <h1>Welcome to YAPSA</h1>

  <h2>
    This is the home page for
    <%= link_to "Yet Another Photo Sharing", root_path%>
    application.
  </h2>
  
  <p>Power by </p>
  <%= link_to image_tag("rails.png", alt: "Rails logo"),
          'http://rubyonrails.org/' %>
  <br>  <br>  <br>  
  <%= link_to "View project details on Github.io", signup_path, class: "btn btn-md btn-primary" %>
</div>
<div>
  


</div>
</div>
