<footer class="footer">
  <small>
    
    
   <!-- <%= link_to "Yet Another Photo Sharing App",   about_path %>
    by <a href="https://ca.linkedin.com/in/garychungsy">Gary Chung</a>-->
  </small>
  
  <p text-align="center">&copy; 2016 YAPSA, LLC</p>
  <nav>
    <ul>
      <!--<li><%= link_to "About",   about_path %></li>-->
      <!--<li><%= link_to "Contact", contact_path %></li>-->
      
    </ul>
  </nav>
</footer>